/* font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600&family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
html {
  padding: 0px;
  margin: 0 auto;
  font-weight: 400;
}
body {
  margin: 0px auto;
  padding: 0px;
}
p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: transparent;
}
a,
button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* hero section design start */
.hero_wrapper {
  background-color: var(--bg1);
}
.navbar_wrapper {
  padding-top: 36px;
}
.nav_logo {
  width: 34px;
  height: 34px;
}
.nav_link_wrapper {
  gap: 48px;
}
._toggler {
  box-shadow: none !important;
  border: none !important;
}
._toggler.collapsed .navbar-toggler-icon {
  background-image: url("../img/header-r8-menu-ic.svg") !important;
  transition: 0.1s all ease-in-out;
  max-width: 18px;
}
._toggler .navbar-toggler-icon {
  background-image: url("../img/header-r8-menu-cross.svg") !important;
  transition: 0.1s all ease-in-out;
  max-width: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px;
}
.single_navItem_link_active {
  border-bottom: 1px solid var(--color2);
}
.single_navItem_link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: var(--color1);
}
.single_navItem_link:hover {
  color: var(--color2);
  transition: 0.3s;
}
.navbar_contact_btn {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: var(--color1);
  border-bottom: 1px solid var(--color1);
  background-color: transparent;
}
.hero_title_wrapper {
  margin-top: 80px;
}
.hero_brand_name {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 42px;
  color: var(--color3);
  text-align: center;
}
.hero_title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 100px;
  text-align: center;
  color: var(--color3);
  text-transform: uppercase;
  margin: 18px 0;
}
.hero_text {
  width: 48%;
  margin: 0 auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--color1);
}
.hero_img_wrapper {
  align-items: center;
}
.hero_visit_btn_wrapper{
  text-align: center;
}
.hero_visit_portfolio_btn{
  background-color: transparent;
  border: none;
}
.hero_view_portfolio {
  width: 174px;
  height: 161px;
  background-image: url(../img/view_portfolio_img.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero_view_portfolio_icon {
  width: 28px;
  height: 32px;
}
.hero_countdown_wrapper {
  width: 955px;
  margin: 89px auto 0 auto;
  padding-bottom: 55px;
}
.hero_countdown_card {
  width: 203px;
  height: 97px;
  margin: auto;
  display: flex;
  gap: 18px;
}
.hero_countdown_star_icon {
  width: 26px;
  height: 26px;
  margin-top: 25px;
}
.hero_countdown_text {
  width: 80%;
  margin: auto 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color1);
}
.divider {
  border-right: 1px solid var(--color1);
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
  .hero_brand_name {
    font-size: 36px;
  }
  .hero_title {
    font-size: 80px;
    margin: 16px 0;
  }
  .hero_text {
    width: 58%;
    font-size: 16px;
    line-height: 26px;
  }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
  .nav_link_wrapper {
    gap: 28px;
    margin-top: 48px;
  }
  .single_navItem_link {
    width: fit-content;
    margin: 0 auto;
  }
  .navbar_contact_btn {
    width: fit-content;
    margin: 20px auto 0 auto;
  }
  .hero_title_wrapper {
    margin-top: 70px;
  }
  .hero_brand_name {
    font-size: 26px;
  }
  .hero_title {
    font-size: 66px;
    margin: 14px 0;
  }
  .hero_text {
    width: 80%;
    font-size: 16px;
    line-height: 28px;
  }
  .hero_view_portfolio {
    width: 130px;
    height: 120px;
  }
  .hero_view_portfolio_icon {
    width: 22px;
    height: 24px;
  }
  .hero_countdown_wrapper {
    width: 700px;
  }
  .hero_countdown_card {
    width: 230px;
    height: 70px;
    gap: 10px;
  }
  .hero_countdown_star_icon {
    width: 22px;
    height: 22px;
    margin-top: 10px;
  }
  .hero_countdown_text {
    width: 80%;
    font-size: 14px;
  }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
  .hero_brand_name {
    font-size: 22px;
  }
  .hero_title {
    font-size: 56px;
  }
  .hero_text {
    width: 80%;
    font-size: 16px;
    line-height: 26px;
  }
  .hero_img_wrapper {
    margin-top: 100px;
    gap: 80px;
  }
  .hero_view_portfolio {
    width: 170px;
    height: 160px;
  }
  .hero_view_portfolio_icon {
    width: 28px;
    height: 32px;
  }
  .hero_countdown_wrapper {
    width: 100%;
    gap: 20px;
  }
  .hero_countdown_card {
    width: 240px;
  }
  .hero_countdown_star_icon {
    width: 26px;
    height: 26px;
  }
  .hero_countdown_text {
    width: 80%;
    font-size: 16px;
  }
  .divider {
    border: none;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
  .navbar_wrapper {
    padding-top: 10px;
  }
  .hero_brand_name {
    font-size: 20px;
  }
  .hero_title {
    font-size: 44px;
  }
  .hero_text {
    width: 85%;
    font-size: 13px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 420px) {
  .nav_link_wrapper {
    gap: 20px;
    margin-top: 30px;
  }
  .navbar_contact_btn {
    width: fit-content;
    margin: 15px auto 0 auto;
  }
  .hero_title_wrapper {
    margin-top: 60px;
  }
  .hero_brand_name {
    font-size: 18px;
  }
  .hero_title {
    font-size: 38px;
    margin: 12px 0;
  }
  .hero_text {
    width: 90%;
    font-size: 12px;
    line-height: 20px;
  }
  .hero_img_wrapper {
    margin-top: 90px;
    gap: 70px;
  }
  .hero_view_portfolio {
    width: 140px;
    height: 130px;
  }
  .hero_view_portfolio_icon {
    width: 26px;
    height: 30px;
  }
  .hero_countdown_wrapper {
    margin: 60px auto 0 auto;
    padding-bottom: 35px;
    gap: 15px;
  }
  .hero_countdown_card {
    width: 220px;
    height: 60px;
  }
  .hero_countdown_star_icon {
    width: 16px;
    height: 16px;
  }
  .hero_countdown_text {
    width: 80%;
    font-size: 12px;
  }
  .divider {
    border: none;
  }
}
@media only screen and (max-width: 375px) {
  .hero_brand_name {
    font-size: 14px;
  }
  .hero_title {
    font-size: 32px;
    margin: 10px 0;
  }
  .hero_text {
    width: 80%;
    font-size: 10px;
    line-height: 18px;
  }
  .hero_countdown_card {
    width: 180px;
    height: 60px;
  }
  .hero_countdown_star_icon {
    width: 14px;
    height: 14px;
  }
  .hero_countdown_text {
    width: 75%;
    font-size: 12px;
  }
}
/* hero section design end */

/*------------------
    Variable 
------------------*/
:root {
  --color1: #726d64;
  --color2: #d37643;
  --color3: #171614;
  --bg1: #fcf2dc;
}
